body {
    color: #ffffff;
}

p {
    color: #000000;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 15px;
}

h2 {
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}