td {
    font-size: 15px;
}

th {
    font-size: 15px;
}


p {
    font-weight: normal;
    font-size: 15px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 15px;
    font-weight: bold;
}

footer {
    font-size: 15px;
    font-weight: normal;
}

ul {
    font-size: 15px;
}